<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>publicApiKey</key>
	<string>543f0122acc33651da0eb9d899848bad</string>
	<key>privateApiKey</key>
	<string>1c8775896eb7702cc74ed7b4986786904623cbc9</string>
</dict>
</plist>
